.container {
  width: 100vw;
  box-sizing: border-box;
  padding: 40px;
}

.swiper {
  width: 374px;
  height: 495px;

  .slideContent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :global {
    .swiper-slide {
      width: 374px;
      height: 495px;
      background-color: transparent;
      border-radius: 12px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #fff;
    }

    .swiper-slide-shadow {
      border-radius: 24px;
    }
  }
}
